@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
:root{
    --linear: #FF42A5;
    --btn-sea-blue: #4EC5F7;
    --container-margin: 0 auto;
    --primary-font-size: 20px;
    --primary-text-color: #534C64;
    --secondary-text-color: #3C354F;
    --container-width: 1024px;
    /* --container-width: 1440px; */
}
a{
    text-decoration: none;
    font-size: var(--primary-font-size);
}
.btn-primary,.btn-sea-blue{
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear);
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
.btn-primary:hover,.btn-sea-blue:hover{
    opacity: 0.7;
}
.btn-sea-blue{
    border-radius: 48px;
    background: var(--btn-sea-blue);
    
}


/* Header section styles */
.header-section{
    padding-top: 37px;
    padding-bottom: 37px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    max-width: var(--container-width);
    margin: var(--container-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .logo{
    display: flex;
    vertical-align: center;
}
.nav-container .logo img{
    margin-right: 20px;
}
.nav-container .logo h2{
    font-size: 45px;
    font-weight: 700;
}
.nav-container .logo h2 > span{
    color: var(--linear);
}

.nav-menu{
    display: flex;
    align-items: center;
}
.nav-menu li{
    list-style: none;
    margin-left: 30px;
}
.nav-menu li a{
    color: var(--secondary-text-color);
}
.nav-menu .flow-us-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}
.nav-menu .flow-us-btn a .fa-youtube{
    color: #F61C0D;
}
.nav-menu .flow-us-btn a .fa-tiktok{
    color: #000;
    outline-color: #08FFF9;
}

/* Banner section styles */
.banner-container{}
.banner-content{}