/* Tablet Device  */
@media screen and (max-width: 768px){
    /* Header nav menu styles */
    .btn-sea-blue{
        margin-left: 0px;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-container .logo{
        margin-bottom: 20px;
    }
    .banner-container{
        padding: 20px 20px;
    }
    .we-are-gamer-content{
        text-align: left;
    }
    .video-items{
        flex-wrap: wrap;
        flex-grow: 1;
    }
    /* .careers-section{
        margin-top: 150px;
    } */
      .careers-container{
        padding: 50px 0px;
      }
      .careers-skills-location{
        flex-direction: column;
      }
    .footer-menu li:first-child{
        margin-left: 0px;
    }

}


/* Large Mobile Devices */
@media screen and (max-width: 425px){
    /* Header nav menu styles */
    .nav-container, .nav-menu,.video-items,.careers-container,.careers-skills-location, .hero-section, .footer-section{
        flex-direction: column;
    }
    .nav-menu li{
        margin: 30px 0px;
    }
    .banner-section{
        background-image: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 20px 20px;
    }
    .banner-content{
        background-image: url('../images/banner-sec-img.png');
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 10px;
        padding: 70px 20px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .banner-content, .banner-img{
        width: 100%;
    }
    .banner-content h3{
        font-size: 24px;
    }
    .banner-content h1{
        font-size: 32px;
    }
    .banner-content .item-rules li{
        font-size: 16px;
        font-weight: normal;
    }
   .btn-group .btn-primary{
        margin-bottom: 20px;
   }
    .btn-primary,.btn-sea-blue{
        padding: 18px 30px;
        font-size: 16px;
        font-weight: normal;

    }
    /* Main section */
    /* Games Funny video watch styles section */
    .video-box{
        width: 100%;
    }
    .video-box-container{
        width: 100%;
    }
    .games-funny-videos{
        padding: 0px 40px;
    }
    .video-box .video-caption{
        text-align: center;
    }
    .video-box:hover .overlay-watch-icon{
        height: 80%;
    }
  /* hero section */
  .hero-section{
    padding: 0px 40px;
  }
  .hero-content,.hero-img{
    width: 100%;
  }
  .hero-img .inner-img{
    left: -36%;
  }
  .hero-img .inner-img img{
    width: 40%;
  }
  /* Career section styles */
  .careers-container{
    padding: 20px;
}
  .careers-content{
    width: 100%;
    padding-left: 0px;
  }
  .careers-img{
    width: 100%;
  }
  .careers-img img{
    margin-top: 30px;
    height: 400px;
  }
  /* Games button group styles */
  .games-btn-link-section{
    margin-top: 0px;
  }


  /* footer styles */
  .footer-container{
    padding: 40px;
  }
  .footer-menu{
    flex-wrap: wrap;
  }
    .footer-menu li{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .social-icon img{
        margin: 10px;
    }
    .terms-and-condition-menu li a,.footer-container p{
        margin-top: 0px;
    }
    .we-are-gamer-container{
        flex-direction: column-reverse;
        padding: 50px 30px;
    }
    .we-are-gamer-content{
        width: 100%;
        text-align: center;
    }
    .we-are-gamer-img{
        width: 100%;
    }
}
